.container{
    width: 400px;
    margin: 15px auto auto;
     box-shadow: 0px 0px 30px 10px rgb(48, 47, 47) ;
     margin-top: 100px;
}
#display{
    background-color: cyan;
    text-align: right;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.button{
    border: 0.5px solid #999;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.button{
    background-color: darkslategray;
    color: white;
    transition: 0.5s ease-in-out;
}
input{
    grid-column: span 4;
    border: 2px solid #999;
    height: 90px;
}
#equal{
    background-color: rgb(30, 99, 8);
}